@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "HelveticaNowText-Regular", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #23262F;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  overflow: scroll;
}


@layer base {
  :root {
    --radius: 0.5rem;
    --grid-max-width: 1280px;
    --grid-margin: 32px;
    --grid-gutter: 16px;

  }

  @font-face {
    font-family: "HelveticaNowText-Regular";
    src: url('./assets/fonts/HelveticaNowText-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "HelveticaNowText-Medium";
    src: url('./assets/fonts/HelveticaNowText-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "HelveticaNowText-Bold";
    src: url('./assets/fonts/HelveticaNowText-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: "Tiempos-Light";
    src: url('./assets/fonts/TiemposHeadline-Light.otf') format('otf');
  }
  
  @font-face {
    font-family: "Tiempos-Regular";
    src: url('./assets/fonts/TiemposHeadline-Regular.otf') format('otf');
  }
 
  @font-face {
    font-family: "Tiempos-Medium";
    src: url('./assets/fonts/TiemposHeadline-Medium.otf') format('otf');
  }

  .row-flex {
     @apply flex items-center justify-between;
  }

  .sm-bold-text {
    @apply text-sm text-black font-helveticaBold
  }
  
  .xs-bold-text {
    @apply text-xs text-black font-helveticaBold
  }

  .sm-normal-text {
    @apply text-sm text-black font-helveticaRegular
  }
  
  .xs-normal-text {
    @apply text-xs text-black font-helveticaRegular
  }

  .product-container {
    @apply flex items-center justify-between mb-4 md:mb-6;
    padding-left: calc(var(--grid-margin) - var(--grid-gutter)/2);
    padding-right: calc(var(--grid-margin) - var(--grid-gutter)/2);
  }

  .product-container-image {
    padding-left: 0px;
    padding-right: 0px;
  }


  @media screen and (min-width:1280px) {
    .product-container {
      padding-left: calc(50% - var(--grid-max-width)/2 + var(--grid-margin)*2/2);
      padding-right: calc(50% - var(--grid-max-width)/2 + var(--grid-margin)*2/2);
    }

    .product-container-image {
      padding-left: calc(50% - var(--grid-max-width)/2 + var(--grid-margin)*2/2);
      padding-right: calc(50% - var(--grid-max-width)/2 + var(--grid-margin)*2/2);
    }
  }

  
  
}

